<script type="text/x-handlebars" data-template-name="application">
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="items">
	Items
	<table class="items">
		<thead>
			<tr>
				<th class="done">&nbsp;</th>
				<th class="date">Date</th>
				<th class="event">Event</th>
				<th class="location">Location</th>
				<th class="times">Time</th>
			</tr>
		</thead>
		<tbody>
			{{#each}}
				{{render 'item' this}}
			{{/each}}
		</tbody>
	</ul>
</script>

<script type="text/x-handlebars" data-template-name="item">
	<tr {{bind-attr class="done isCurrent isCurrent:today isPast:past isFuture:future isUndated:undated"}}>
		<td>
			{{input type="checkbox" checked=done}}
		</td>
		<td>{{formatDate date}}</td>
		<td>
			{{event}}
			<ul class="tags">
				{{#each tags}}
					{{partial 'tag'}}
				{{/each}}
			</ul>
		</td>
		<td>{{location}}</td>
		<td>{{formatTimes startTime endTime}}</td>
	</tr>
</script>

<script type="text/x-handlebars" data-template-name="_tag">
	<li {{bind-attr class=":tag styleClass"}}>{{name}}</li>
</script>
